body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

section {
  background-color: lightgray;
}

.container {
  display: block;
  width: 100%;
}
.container .navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .navbar ol {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}
.container .navbar ol a {
  text-decoration: none;
}
.container .navbar ol li {
  padding: 20px 80px 20px 103px;
  border: 1px solid gray;
  background-color: white;
}

h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

li:first-child {
  border-bottom-left-radius: 10px;
}

li:last-child {
  border-bottom-right-radius: 10px;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.jumbotron {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px soild gray;
  border-radius: 10px;
  height: 300px;
  width: 1000px;
  content: url("../img/page-1_slide1.jpg");
  margin: 0;
  border: 5px solid gray;
}
