main {
	height: 600px;
	width: 250px;
	background-image: url(../img/captain_america_by_steeven7620-d7hvggl.png);
	background-size: 100%;
}
div {
	border-radius: 50%;
	position: absolute;
	border-width: 3px;
}

#star {
	width: 100px;
	height: 100px;
	background-image: url(../img/white-star-md_360.png);
	background-size: 100%;
	background-color: blue;
	background-repeat: no-repeat;
	top: 213px;
	left: 75px;

}
#ring1 {
	width: 177px;
	height: 177px;
	background-color: red;
	background-size: 150%;
	top: 179px;
	left: 200px;


}
#ring2 {
	width: 250px;
	height: 250px;
	background-color: silver;
	background-size: 120%;
	top: 
}


