@mixin arrow($dir, $color: black, $font: 12px){
	i {
		@if ($dir == "up"){
			transform: rotate(-90deg);
			color: $color;
			font-size: $font;
		}
		@else if ($dir == "right"){
			color: $color;
			font-size: $font;

		}
		@else if ($dir == "down"){
			transform: rotate(90deg);
			color: $color;
			font-size: $font;
		}
		@else if ($dir == "left"){
			transform: rotate(180deg);
			color: $color;
			font-size: $font;
		}
	}
}