body {
	background-image: url("../img/1757527.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
header {
	color: white;
	font-size: 25px;
	text-align: center;
}

hgroup:hover {
		transform: rotate(360deg);
		opacity: 0;
		color: purple;
		transition: all 500ms ease-in-out;
}

a {
	text-decoration: none;
	color: white;

}
.container {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-right: 0;
	
}
li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover {
	border: 1px solid white;
	border-radius: 10px;
	list-style: none;
	background-color: lightblue;
	padding: 10px 35px;
	transition: all 500ms ease-in-out;
}
.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		display: flex;
		justify-content: center;
		color: white;
		width: 50%;
		font-size: 25px;
		margin: 0 0 0 300px;
	}
}
@media screen and (max-width: 768px) {
		body{
			border: 5px spotted green;
			width: 100px;
		}
		.div1 {
			text-align: center;
		}
		.pic {
			text-align: center;
		img {
			height: 250px;
			width: 400px;
			border-radius: 25%;
		}
	
	}	
}

.bio {
	img:hover {
		width: 75%;
		height: auto;
		transition: all 500ms ease-in-out;
		border: 2px solid white;
	}
}
