body {
  background-image: url("../img/1757527.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  color: white;
  font-size: 25px;
  text-align: center;
}

hgroup:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
  color: purple;
  transition: all 500ms ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: 0;
}

li {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  border: 1px solid white;
  border-radius: 10px;
  list-style: none;
  background-color: lightblue;
  padding: 10px 35px;
  transition: all 500ms ease-in-out;
}

.bio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bio p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 50%;
  font-size: 25px;
  margin: 0 0 0 300px;
}

@media screen and (max-width: 768px) {
  body {
    border: 5px spotted green;
    width: 100px;
  }

  .div1 {
    text-align: center;
  }

  .pic {
    text-align: center;
  }
  .pic img {
    height: 250px;
    width: 400px;
    border-radius: 25%;
  }
}
.bio img:hover {
  width: 75%;
  height: auto;
  transition: all 500ms ease-in-out;
  border: 2px solid white;
}
